In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
features = pd.read_csv(r'C:\Users\Admin\OneDrive\Desktop\Data Science Projects\IPL\IPL Ball-by-Ball 2008-2020.csv\IPL Ball-by-Ball 2008-2020.csv',nrows = 5000)

In [4]:
features

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,336003,1,7,3,SE Marsh,Yuvraj Singh,AB Dinda,0,0,0,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Kolkata Knight Riders
4996,336003,1,7,4,SE Marsh,Yuvraj Singh,AB Dinda,6,0,6,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Kolkata Knight Riders
4997,336003,1,7,5,SE Marsh,Yuvraj Singh,AB Dinda,0,0,0,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Kolkata Knight Riders
4998,336003,1,7,6,SE Marsh,Yuvraj Singh,AB Dinda,4,0,4,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Kolkata Knight Riders
4999,336003,1,8,1,Yuvraj Singh,SE Marsh,Mohammad Hafeez,0,0,0,0,0,NaN,NaN,NaN,NaN,Kings XI Punjab,Kolkata Knight Riders

In [5]:
total_score = features.groupby(['id','inning']).sum()[['total_runs','batsman_runs']]
total_score.head()

               total_runs  batsman_runs
id     inning
335982 1              222           205
       2               82            63
335983 1              240           234
       2              207           196
335984 1              129           122

In [6]:
total_score = features.groupby(['id','inning']).sum()['total_runs'].reset_index()
total_score

        id  inning  total_runs
0   335982       1         222
1   335982       2          82
2   335983       1         240
3   335983       2         207
4   335984       1         129
5   335984       2         132
6   335985       1         165
7   335985       2         166
8   335986       1         110
9   335986       2         112
10  335987       1         166
11  335987       2         168
12  335988       1         142
13  335988       2         143
14  335989       1         208
15  335989       2         202
16  335990       1         214
17  335990       2         217
18  335991       1         182
19  335991       2         116
20  335992       1         135
21  335992       2         138
22  335993       1         147
23  335993       2         152
24  335994       1         154
25  335994       2         155
26  335995       1         158
27  335995       2         162
28  335996       1         178
29  335996       2         165
30  335997       1         137
31  335997       2         138
32  335998       1         191
33  335998       2         181
34  335999       1         164
35  335999       2         167
36  336000       1         196
37  336000       2         151
38  336001       1         169
39  336001       2         172
40  336002       1         165
41  336002       2         171
42  336003       1          11

In [7]:
total_score = total_score[total_score.inning == 1]
total_score.shape

(22, 3)

In [8]:
match = pd.read_csv(r'C:\Users\Admin\OneDrive\Desktop\Data Science Projects\IPL\IPL Matches 2008-2020.csv', nrows=22)

In [9]:
match.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5,N,NaN,BF Bowden,K Hariharan

In [10]:
df = pd.merge(match,total_score[['total_runs','id']]).reset_index()

In [11]:
df.team1.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings'],
      dtype=object)

In [12]:
teams = ["Royal Challengers Bangalore","Kings XI Punjab","Delhi Daredevils","Mumbai Indians","Kolkata Knight Riders","Rajasthan Royals","Chennai Super Kings",]
df = df[df["team1"].isin(teams)]
df = df[df["team2"].isin(teams)]


df.team2.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Kings XI Punjab', 'Mumbai Indians',
       'Delhi Daredevils'], dtype=object)

In [13]:
df.head()

,index,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,total_runs
0,0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140,N,NaN,Asad Rauf,RE Koertzen,222
1,1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33,N,NaN,MR Benson,SL Shastri,240
2,2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9,N,NaN,Aleem Dar,GA Pratapkumar,129
3,3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5,N,NaN,SJ Davis,DJ Harper,165
5,5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6,N,NaN,Aleem Dar,RB Tiffin,166

In [14]:
df.neutral_venue.value_counts()

0    16
Name: neutral_venue, dtype: int64

In [15]:
df = df[df.neutral_venue == 0]

In [16]:
df = df[['id','city','team1','team2','winner','result','result_margin','total_runs']]
df.head()

,id,city,team1,team2,winner,result,result_margin,total_runs
0,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222
1,335983,Chandigarh,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,runs,33,240
2,335984,Delhi,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,wickets,9,129
3,335985,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,wickets,5,165
5,335987,Jaipur,Rajasthan Royals,Kings XI Punjab,Rajasthan Royals,wickets,6,166

In [17]:
df.shape

(16, 8)

In [18]:
features = features.merge(df,on='id')
features.shape

(3626, 25)

In [19]:
features = features[features.inning == 2]

In [20]:
features.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs_x,...,extras_type,batting_team,bowling_team,city,team1,team2,winner,result,result_margin,total_runs_y
121,335982,2,6,2,CL White,MV Boucher,AB Agarkar,0,0,0,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222
122,335982,2,6,3,CL White,MV Boucher,AB Agarkar,1,0,1,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222
123,335982,2,6,4,MV Boucher,CL White,AB Agarkar,0,1,1,...,wides,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222
124,335982,2,6,5,MV Boucher,CL White,AB Agarkar,0,1,1,...,wides,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222
125,335982,2,6,6,MV Boucher,CL White,AB Agarkar,0,0,0,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222

In [21]:
features.shape

(1756, 25)

In [22]:
features['current_score'] = features.groupby('id').cumsum()['total_runs_x']
features['runs_tail'] = features.total_runs_y + 1- features.current_score

In [23]:
features.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs_x,...,bowling_team,city,team1,team2,winner,result,result_margin,total_runs_y,current_score,runs_tail
121,335982,2,6,2,CL White,MV Boucher,AB Agarkar,0,0,0,...,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,0,223
122,335982,2,6,3,CL White,MV Boucher,AB Agarkar,1,0,1,...,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,1,222
123,335982,2,6,4,MV Boucher,CL White,AB Agarkar,0,1,1,...,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,2,221
124,335982,2,6,5,MV Boucher,CL White,AB Agarkar,0,1,1,...,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,3,220
125,335982,2,6,6,MV Boucher,CL White,AB Agarkar,0,0,0,...,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,3,220

In [24]:
features['balls_left'] = 120 - (6*features.over + features.ball)

In [25]:
features.player_dismissed = features.player_dismissed.fillna("0")
features.player_dismissed = features.player_dismissed.apply(lambda x:x if x == "0" else "1")
features.player_dismissed.isna().sum()
features.player_dismissed = features.player_dismissed.astype('int')
features['wicket_left'] = 10 - (features.groupby('id').cumsum()['player_dismissed']).values

In [26]:
features

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs_x,...,team1,team2,winner,result,result_margin,total_runs_y,current_score,runs_tail,balls_left,wicket_left
121,335982,2,6,2,CL White,MV Boucher,AB Agarkar,0,0,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,0,223,82,10
122,335982,2,6,3,CL White,MV Boucher,AB Agarkar,1,0,1,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,1,222,81,10
123,335982,2,6,4,MV Boucher,CL White,AB Agarkar,0,1,1,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,2,221,80,10
124,335982,2,6,5,MV Boucher,CL White,AB Agarkar,0,1,1,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,3,220,79,10
125,335982,2,6,6,MV Boucher,CL White,AB Agarkar,0,0,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140,222,3,220,78,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3615,336001,2,18,6,S Dhawan,AB de Villiers,JA Morkel,2,0,2,...,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,wickets,8,169,162,8,6,8
3616,336001,2,18,7,S Dhawan,AB de Villiers,JA Morkel,4,0,4,...,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,wickets,8,169,166,4,5,8
3617,336001,2,16,6,AB de Villiers,S Dhawan,M Muralitharan,4,0,4,...,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,wickets,8,169,170,0,18,8
3618,336001,2,17,1,S Dhawan,AB de Villiers,MS Gony,1,0,1,...,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,wickets,8,169,171,-1,17,8
3619,336001,2,16,5,S Dhawan,AB de Villiers,M Muralitharan,1,0,1,...,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,wickets,8,169,172,-2,19,8

In [27]:
features['RR']=6*features.runs_tail/features.balls_left

In [28]:
features[features.batting_team == features.winner]

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs_x,...,team2,winner,result,result_margin,total_runs_y,current_score,runs_tail,balls_left,wicket_left,RR
485,335984,2,8,4,S Dhawan,G Gambhir,SK Warne,0,0,0,...,Rajasthan Royals,Delhi Daredevils,wickets,9,129,0,130,68,10,11.470588
486,335984,2,8,5,S Dhawan,G Gambhir,SK Warne,1,0,1,...,Rajasthan Royals,Delhi Daredevils,wickets,9,129,1,129,67,10,11.552239
487,335984,2,8,6,G Gambhir,S Dhawan,SK Warne,1,0,1,...,Rajasthan Royals,Delhi Daredevils,wickets,9,129,2,128,66,10,11.636364
488,335984,2,9,1,G Gambhir,S Dhawan,YK Pathan,0,0,0,...,Rajasthan Royals,Delhi Daredevils,wickets,9,129,2,128,65,10,11.815385
489,335984,2,9,2,G Gambhir,S Dhawan,YK Pathan,0,1,1,...,Rajasthan Royals,Delhi Daredevils,wickets,9,129,3,127,64,10,11.906250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3615,336001,2,18,6,S Dhawan,AB de Villiers,JA Morkel,2,0,2,...,Delhi Daredevils,Delhi Daredevils,wickets,8,169,162,8,6,8,8.000000
3616,336001,2,18,7,S Dhawan,AB de Villiers,JA Morkel,4,0,4,...,Delhi Daredevils,Delhi Daredevils,wickets,8,169,166,4,5,8,4.800000
3617,336001,2,16,6,AB de Villiers,S Dhawan,M Muralitharan,4,0,4,...,Delhi Daredevils,Delhi Daredevils,wickets,8,169,170,0,18,8,0.000000
3618,336001,2,17,1,S Dhawan,AB de Villiers,MS Gony,1,0,1,...,Delhi Daredevils,Delhi Daredevils,wickets,8,169,171,-1,17,8,-0.352941
3619,336001,2,16,5,S Dhawan,AB de Villiers,M Muralitharan,1,0,1,...,Delhi Daredevils,Delhi Daredevils,wickets,8,169,172,-2,19,8,-0.631579

In [29]:
def result(input):
    if input['batting_team'] == input['winner']:
        return  1
    else:
        return 0

In [30]:
features['result']= features.apply(result,axis=1)

In [31]:
features.head(2)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs_x,...,team2,winner,result,result_margin,total_runs_y,current_score,runs_tail,balls_left,wicket_left,RR
121,335982,2,6,2,CL White,MV Boucher,AB Agarkar,0,0,0,...,Kolkata Knight Riders,Kolkata Knight Riders,0,140,222,0,223,82,10,16.317073
122,335982,2,6,3,CL White,MV Boucher,AB Agarkar,1,0,1,...,Kolkata Knight Riders,Kolkata Knight Riders,0,140,222,1,222,81,10,16.444444

In [32]:
features = features[['batting_team','bowling_team','city','runs_tail','balls_left','wicket_left','RR','result']]

In [33]:
features.head(2)

,batting_team,bowling_team,city,runs_tail,balls_left,wicket_left,RR,result
121,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,223,82,10,16.317073,0
122,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,81,10,16.444444,0

In [34]:
features = features[features.balls_left != 0]

In [35]:
features = features.sample(features.shape[0])
features.shape

(1752, 8)

In [36]:
features = features.dropna()

In [37]:
x = features.iloc[:,:-1]
y = features.iloc[:,-1]
x.head(),y.head()

(                     batting_team           bowling_team       city  \
 1388               Mumbai Indians    Chennai Super Kings    Chennai
 2025          Chennai Super Kings  Kolkata Knight Riders    Chennai
 1418               Mumbai Indians    Chennai Super Kings    Chennai
 3121  Royal Challengers Bangalore       Delhi Daredevils      Delhi
 166   Royal Challengers Bangalore  Kolkata Knight Riders  Bangalore

       runs_tail  balls_left  wicket_left          RR
 1388         94           2            6  282.000000
 2025        113          91           10    7.450549
 1418         36          52            4    4.153846
 3121         19           2            5   57.000000
 166         180          42            6   25.714286  ,
 1388    0
 2025    1
 1418    0
 3121    0
 166     0
 Name: result, dtype: int64)

In [38]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

x_train.shape, y_train.shape

((1401, 7), (1401,))

In [39]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])],remainder='passthrough')

In [40]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

pip = Pipeline(steps=[('step1',trf),('step2',LogisticRegression(solver='liblinear'))])

In [41]:
pip.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [42]:
y_pred = pip.predict(x_test)

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

1.0

In [44]:
pip.predict_proba(x_test)[:10]

array([[5.31206233e-03, 9.94687938e-01],
       [7.99374376e-03, 9.92006256e-01],
       [9.96790011e-01, 3.20998903e-03],
       [8.45146951e-04, 9.99154853e-01],
       [9.83371033e-01, 1.66289665e-02],
       [9.98567108e-01, 1.43289161e-03],
       [9.18683788e-03, 9.90813162e-01],
       [9.77609369e-01, 2.23906307e-02],
       [6.00413301e-03, 9.93995867e-01],
       [9.90732778e-01, 9.26722182e-03]])

In [45]:
def match_prog(x_df,match_id,pipe):
    match = x_df[x_df['id'] == match_id]
    match = match[(match['ball']==6)]

IndentationError: expected an indented block (857183200.py, line 1)